PORT=3001
FRONTEND_ORIGIN=http://localhost:5173
JWT_ISSUER=http://localhost:8081/realms/cybersecurity
JWT_AUDIENCE=fastapi-api
JWKS_URL=http://localhost:8081/realms/cybersecurity/protocol/openid-connect/certs
DATA_FILE=./data/games.json
